@page "/dashboard"

<div class="page-entity">
    <AuthorizeView>
        <EntityView Endpoint="medias/account" TEntity="Media" Title="Mídias">
            <Template Context="entity">
                <div class="page-entity-template">
                    <NavLink href="@($"/medias/form/{entity.Guid}")">
                        <p>@entity.Work.Name</p>
                    </NavLink>
                </div>
            </Template>
        </EntityView>
    </AuthorizeView>
</div>

@code {

}
