@page "/feedback"
@inject IStringLocalizer<Feedback> _localizer

<div class="page-feedback">
    <aside>
        <div>
            <h3>@_localizer["Title"]</h3>
            <p>@_localizer["Message"]</p>
        </div>
        <button class="button-primary">
            <NavLink href="mailto:help.ondeassisto@outlook.com?subject=OndeAssisto%20|%20Feedback">
                @_localizer["FeedbackButton"]
            </NavLink>
        </button>
    </aside>
</div>