@import "../variables.scss";

main {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    position: relative;

    header {
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0 0 1em rgba($baseColor, .2);
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        position: sticky;

        & > img {
            width: 10em;
        }

        .user-container {
            position: relative;

            .popup {
                bottom: -5em;
                right: 0;
                position: absolute;
            }
        }
    }

    #new-entity-button {
        margin: 1em;
        align-self: flex-start;
    }

    #auth-form {
        min-width: 20vw;
        display: flex;
        flex-flow: column;
        padding: 1em 2em;

        label {
            margin: .5em .8em;
            font-weight: bold;
        }

        input {
            border: solid rgba($baseColor, .4) 1pt;
            border-radius: .5em;
            margin-bottom: .5em;
            outline: none;
            padding: 1em;
        }

        button {
            border-radius: 2em;
            margin: 1em auto;
            width: 50%;
        }

        & > p {
            align-self: center;
            color: #2B2B2B;
            display: flex;
            margin: 2em 0 1em 0;
            text-transform: uppercase;

            a {
                font-weight: bold;
                margin-left: .5em;
            }
        }
    }
}
