@import "../variables.scss";

button {
    align-items: center;
    border: none;
    border-radius: .5em;
    color: rgba($baseColor, .8);
    display: flex;
    flex-flow: row;
    outline: none;
    transition: box-shadow .3s, color .3s, background .3s;

    p, a {
        flex: 1;
        font-size: medium;
        letter-spacing: .02em;
        margin: .8em;
        text-align: center;
    }

    &.button-icon {
        & > svg {
            width: 2em;
            margin: 0 .8em;
        }
    }

    &.button-flat {
        background: none;
    }

    &.button-primary, &.button-secondary {
        a, p {
            color: $altColor;
            letter-spacing: .08em;
            text-transform: uppercase;
        }

        &:disabled {
            background: rgba($baseColor, .4);

            &:hover {
                background: rgba($baseColor, .4);
            }
        }

        &:hover {
            box-shadow: -.5em -.5em 1em rgba($altColor, 1), .5em .5em 1em rgba($baseColor, .2);
        }
    }

    &.button-primary {
        background: $primaryColor;

        &:hover {
            background: rgba($primaryColor, .8);
        }
    }

    &.button-secondary {
        background: $secondaryColor;

        &:hover {
            background: rgba($secondaryColor, .8);
        }
    }

    &:hover {
        box-shadow: 0 0 1em rgba($baseColor, .2);
        cursor: pointer;
    }
}
