@import "../variables.scss";

.combo-box-container {
    display: flex;
    flex-flow: column;

    label {
        color: rgba($baseColor, .8);
        font-weight: bold;
        margin: .5em 0;
    }

    select {
        border: solid 1pt rgba($baseColor, .2);
        color: rgba($baseColor, .6);
        font-weight: bold;
        outline: none;
        padding: .8em;

        option {

        }
    }
}