@import "../variables.scss";

.filters-container {
    display: flex;
    flex-flow: column;
    margin: 2em;
    width: 20vw;

    & > header {
        border: none;
        border-radius: .5em .5em 0 0;
        align-items: center;
        background: $secondaryColor;
        display: flex;
        flex-flow: row;
        justify-content: center;
        padding: 1em;
        position: relative;

        h3 {
            color: $altColor;
            font-size: 1em;
            font-weight: bold;
            letter-spacing: .02em;
            text-transform: uppercase;
        }

        svg {
            fill: rgba($baseColor, .6);
            padding: 1em;
            position: absolute;
            right: 0;
        }
    }

    & > form {
        border-color: rgba($baseColor, .2);
        border-style: solid;
        border-radius: 0 0 .5em .5em;
        border-width: 0 1pt 1pt 1pt;
        padding: 1em;
        padding-bottom: 4em;
        display: flex;
        flex-flow: column;
    }
}
