@import "../variables.scss";

.media-view {
    display: flex;
    flex-flow: column;
    margin: 2em;

    label {
        color: rgba($baseColor, .6);
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 0.02em;
        margin: .9em 0;
        text-transform: uppercase;
    }

    hr {
        border: none;
        height: 4px;
        background: linear-gradient(to right, rgba($baseColor, .6) 1%, transparent);
        margin-bottom: 1em;
    }

    .media-view-items {
        display: flex;
    }
}
