@import "../variables.scss";

.notification-container {
    align-self: center;
    border: none;
    border-radius: .5em;
    bottom: 1em;
    box-shadow: 0 0 1em rgba($baseColor, .4);
    flex-flow: row;
    min-width: 28vw;
    padding: .5em;
    position: absolute;
    z-index: 99;

    &.success {
        background: rgba($successColor, 1);
    }

    &.fail {
        background: rgba($alertColor, 1);
    }

    &[active] {
        display: flex;
    }

    .notification-body {
        width: 100%;
        position: relative;

        svg {
            position: absolute;
            right: 0;
            fill: rgba($altColor, 1);
            top: -1pt;
            width: 1em;
        }
    }

    p {
        color: rgba($altColor, 1);
        padding-right: 1.5em;
    }
}
