@import "../variables.scss";

.page-feedback {
    background: linear-gradient(transparent, rgba($primaryColor, .4)), url("/img/preview-background.jpg");
    background-size: cover;
    display: flex;
    flex: 1;

    &::before {
        content: "";
        flex: 1;
    }

    aside {
        background: $backgroundColor;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        max-width: 20vw;
        padding: 1.5em;

        div {
            h3 {
                margin-top: 2em;
            }

            p {
                margin: 1em 0;
                text-align: justify;
            }
        }
    }
}
