@import "../variables.scss";

.page-home {
    display: flex;
    flex-flow: row;

    & > .filters-container {
        margin-left: 6em;
    }

    &-content {
        display: flex;
        flex-flow: column;
        margin: 2em 0;

        h1 {
            color: rgba($baseColor, .6);
        }

        &-items {
            display: flex;
            flex-flow: row;

            &-view {
                border: none;
                box-sizing: content-box;
                border-radius: 6px;
                box-shadow: 0 2pt 2pt rgba($baseColor, .2);
                display: flex;
                flex-flow: column;
                height: 40vh;
                margin: 4pt;
                position: relative;
                width: 20vh;

                img {
                    border-radius: 6px 6px 0 0;
                    height: 30vh;
                }

                strong, p {
                    margin: 2pt 8pt;
                }

                strong {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: rgba($baseColor, .8);
                }

                p {
                    color: rgba($baseColor, .6);
                }
            }
        }
    }
}
