@inject IHttpClientFactory _clientFactory
@inject ILocalStorageService _storage
@inject ISearchService _searchService

@typeparam TEntity

<div class="@Class">
    <h1>@Title</h1>
    <div class="@Class-items">
        @foreach (var entity in _entities)
        {
            @Template(entity)
        }
    </div>
</div>


@code {
    private HttpClient _client;
    private List<TEntity> _entities = new List<TEntity>();
    private string queryParams;

    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Endpoint { get; set; }

    [Parameter]
    public RenderFragment<TEntity> Template { get; set; }

    protected override void OnInitialized()
    {
        _client = _clientFactory.CreateClient("api");
        _searchService.QuerySubmitted += async (_, e) =>
        {
            queryParams = e.QueryParams;
            await GetEntitiesAsync();
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (await _storage.GetItemAsync<string>(nameof(JwtTokenAccessData.AccessToken)) is string token && firstRender)
            {
                _client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue(JwtBearerDefaults.AuthenticationScheme, token);
            }

            await GetEntitiesAsync();
            StateHasChanged();
        }
    }

    private async Task GetEntitiesAsync()
    {
        await InvokeAsync(async () =>
        {
            if (Endpoint is "medias" && !string.IsNullOrEmpty(queryParams))
            {
                _entities = JsonSerializer
                    .Deserialize<List<TEntity>>(await _client.GetStringAsync(Endpoint), new JsonSerializerOptions { PropertyNameCaseInsensitive = true })
                    .Where(x => (x as Media).Work.Description.Contains(queryParams) || (x as Media).Work.Name.Contains(queryParams))
                    .ToList();
            }
            else
            {
                _entities = JsonSerializer
                    .Deserialize<List<TEntity>>(await _client.GetStringAsync(Endpoint), new JsonSerializerOptions { PropertyNameCaseInsensitive = true })
                    .OrderByDescending(x => (x as Entity).CreatedAt)
                    .ToList();
            }
            StateHasChanged();
        });
    }
}