@inject IHttpClientFactory _clientFactory

<div class="media-view">
    <label>@Title</label>
    <hr />
    <div class="media-view-items">
        @foreach (var media in _medias)
        {
            <MediaViewItem Media="media" />
        }
    </div>
</div>


@code {
    private HttpClient _client;

    [Parameter]
    public string Title { get; set; }

    private List<Media> _medias = new List<Media>();

    protected override async Task OnInitializedAsync()
    {
        _client = _clientFactory.CreateClient("api");
        _medias = JsonSerializer.Deserialize<List<Media>>(await _client.GetStringAsync("medias"), new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
    }
}
