@inject IWebHostEnvironment _env
@inject ISearchService _searchService

<form class="search-container" @onsubmit="OnSubmit">
    <input @bind="queryParams" @bind:event="oninput" placeholder="Filme ou Série..." />
    @iconFindSvg
</form>

@code {
    private string queryParams;
    private MarkupString iconFindSvg;

    protected override async Task OnInitializedAsync()
    {
        iconFindSvg = (MarkupString)await File.ReadAllTextAsync($"{_env.WebRootPath}/svg/icon-find.svg");
    }

    private void OnSubmit()
    {
        _searchService.OnQuerySubmitted(queryParams);
    }
}
